{% extends "superuser/supernav.html"%}
{% block content %}

<br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3>
                Placements:<br></h3>
                <h4><small class="text-muted">Submitted Requests</small></h2><br><br>
                <table class="table table-responsive-sm table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">StudentID</th>
                            <th scope="col">Requested For</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sub in submission %}
                        <tr>
                            <td>{{sub.id}}</th>
                            <td><a href="{{ sub.registered_student }}">{{ sub.registered_student }}</a></td>
                            <td>{{ sub.slug }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

        </div>
    </div>

</div>



{% endblock content %}